body {
    font-family: "Noto Kufi Arabic", serif;
}
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden auto;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 950px;
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body > *:not(.bg) {
    position: relative;
    z-index: 2;
}

body > h1 {
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
    line-height: 50px;
}

body > h4 {
    font-size: 16px;
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 40px;
}

.cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 280px;
    margin: auto;
}

.card {
    border: 1px solid #ffffff8c;
    border-radius: 20px;
    padding: 24px;
    height: 120px;
    background-color: #0014209c;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selected-channel {
    border: 1px solid #ffffff8c;
    border-radius: 20px;
    padding: 24px;
    height: 120px;
    width: 120px;
    margin: 16px auto;
    background-color: #0014209c;
}

.selected-channel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    width: 130px;
    display: block;
    margin: 40px auto 16px;
}

.popup {
    display: none;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 12px;
    border-radius: 5px;
    position: relative;
    max-width: 90% !important;
    max-height: 90% !important;
}

iframe {
    width: 100%;
}

.close-popup {
    position: absolute;
    top: -10px;
    right: 50%;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    transform: translateX(50%);
    background: #fff;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    border: none;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-popup svg {
    stroke: #000;
}

.serias-wrapper {
    padding: 16px; 
    direction: rtl;
}

.serias-card {
    width: 100%;
    border: 1px solid #ffffff57;
    border-radius: 20px;
    margin-bottom: 16px;
}

.serias-card .img {
    width: 116px;
    height: 116px;
    border: 1px solid #ffffff8c;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.serias-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serias-card {
    display: flex;
    text-decoration: none;
    background-color: #0014209c;
}
.serias-card .text {
    padding: 12px 20px;
}

.tabs {
    direction: rtl;
}

.serias-card .title {
    margin: 0;
    margin-bottom: 0px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #ffffff8c;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.serias-card p {
    font-size: 13px;
    color: #fff;
    margin: 0;
    text-decoration: none;
}

.tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 24px 20px 16px;
}

.tabs * {
    font-size: 16px;
    font-weight: bold;
    font-family: "Noto Kufi Arabic";
    background: #0014209c;
    border: 1px solid #0014209c;
    border-radius: 8px;
    color: #fff;
}

.tabs button.active {
    border: 1px solid #ffffff8c;
}

.play-icon-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon-wrapper img {
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 50%;
    background-color: #0000007a;
}

.program {display: none;}